@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
    margin:0;
    font-family:'Ubuntu', sans-serif;
    overflow-x: hidden;
}
a {
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
.max-width {
    max-width: 1400px;
    padding: 0 30px;
    margin: 5px;
}


/*Navbar Styling*/
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    top: 0;
    background: #139c48;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}
.navbar.sticky {
    padding: 20px 0;
    background: #139c48;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    margin-top: 0;
}
.navbar .logo-img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: -15px;
}
.navbar .logo-name {
    letter-spacing: -2;
}
.navbar .menu {
    margin-top: 5px;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color: #285238;
}
.navbar.sticky .menu li a:hover {
    color: #fff;
}

/*Menu Button Styling*/
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* chart */
.graphBox {
    position: relative;
    width: 100%;
    padding: 95px 20px ;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    min-height: 200px;
}

.graphBox .box {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

@media (max-width: 991px) {
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }
}
/*responsive media query start sidebar navigation */
@media (max-width: 947px) {
    .max-width {
        padding: 0 10px;
    }
    .navbar .logo-img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        margin-bottom: -15px;
        position: fixed;
        left: 10;
    }
    .navbar .logo a {
        color: #fff;
        font-size: 35px;
        font-weight: 600;
        margin-top: 0;
        margin-left: 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i {
        position: fixed;
        margin-top: -10px;
        right: 20px;
    }
    .menu-btn i.active::before {
        content: "\f00d";

    }
    .navbar .menu {
        position: fixed;
        background: #111;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    #menu-utama .serv-content .card  {
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
    #menu-utama .stat-content .card {
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
}

/*section footer styling*/
#footer {
    /* position: relative; */
    /* width: 100%; */
    /* height: auto; */
    padding: 50px 100px;
    background: #082b20;
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
}
.footer .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: row;
    text-align: left;
}
.footer .container {
    margin-right: 30px;
}
.footer .container .sec_aboutus {
    width: 50%;
    margin-top: 14px;
}
.footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer .container img,p {
    margin-left: 3px;
}

.footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #139c48;
}
.footer p {
    color: #999;
    padding-top: 0px;
    line-height: 1.5em;
}
.socialme {
    margin-top: 20px;
    display: flex;
}
.socialme li {
    list-style: none;
}
.socialme li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.socialme .fb a {
    background: #3b5998;
}
.socialme .twitt a {
    background: #00acee;
}
.socialme .insta a {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.socialme .yt a {
    background: crimson;
}
.socialme li a .fa {
    color: #fff;
    font-size: 20px;
}
.logo-foot {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}
.sec_quickLinks {
    position: relative;
    width: 50%;
    margin-top: 14px;
}
.sec_quickLinks ul {
    margin-left: 20px;
    line-height: 0.8em;
}
.sec_quickLinks ul li {
    list-style: none;
}
.sec_quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.sec_quickLinks ul li a:hover {
    color: #fff;
}

.contact {
    width: 50%;
    margin-top: 14px;
}
.contact .info {
    position: relative;
}
.contact .info li {
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span {
    color: #999;
}
.contact .info li a {
    color: #999;
    text-decoration: none;
}
.contact .info li a:hover {
    color: #fff;
}
.map,
.phone,
.mail {
    color: white;
}
.copyright {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media (max-width: 690px) {
    
    #menu-utama .serv-content .card {
        width: 100%;
    }
    #menu-utama .stat-content .card {
        width: 100%;
    }
    #footer {
        padding: 10px ;
    }
    #footer .container {
        flex-direction: column;
    }
}

/* detail order */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    /* margin-top: 10px; */
}

.details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 700;
}

.details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

 .details .recentOrders table tr td {
    padding: 10px;
}

.details .recentOrders table tr td:last-child {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
    text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}

.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.inprogress {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.return {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}


.recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr td {
    padding: 12px 10px;
}

.recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.recentCustomers table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}

.recentCustomers table tr:hover {
    background: var(--blue);
    color: var(--white);
}


.recentCustomers table tr:hover td h4 span {
    color: var(--white);
}